@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

html {
  /* use this after fully converted to scss, this will change 1rem to = 10px */
  /* font-size: 62.5%; */
}

body {
  background: #e2e0e5;
}
