#searchContainer{
	height: 100vh;
}

form {
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}

.form__buttons {
	display: flex;
	flex: wrap;
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
	flex-direction: row;
	margin: 1rem;
}

.form-btn {
	background-color: crimson;
	margin: 1rem;
	width: 10%;
	/* text-align: center; */
}

.searchBtn {
  margin: 1rem;
  padding: 3px;
  width: 5%;
}

.searchLabel {
  padding: 10px;
}

.searchInput {
  margin: 1rem;
  padding: 1rem;
  width: 20%;
}

input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(../assets/search.png) no-repeat 9px center;
  background-size: 20px;
	border: solid 1px crimson;
	padding: 9px 10px 9px 32px;
	width: 20%;
	
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	border-radius: 1rem;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}