@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.landing-page {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background:linear-gradient(to right bottom, #1c5c8648, hsla(204, 32%, 51%, 0.288)), url('../assets/pexelbluekitchen.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.landing-page-description {
  position: absolute;
  top: 5%;
  max-width: 650px;
  margin: 60px 100px;
}

.landing-page-description :first-child {
  color: #F78E28;
  font-weight: 900;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 60px;
  margin-bottom: 30px;
  text-shadow: 0.1px 0.1px 200px black;
}

.landing-page-description :last-child {
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  color: white;
  text-shadow: 0.1px 0.1px 50px lightblue;
}

#get-started-btn {
  cursor: pointer;
  min-width: 19%;
  padding: 0 15px;
  text-align: center;
  border-radius: .5rem;
  color: #f78e28;
  font-size: 4rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s ease;
}

#get-started-btn:hover {
  background-color: #d3d9d0;
}

@media (max-width: 768px) {
  #get-started-btn {
    font-size: 1.8rem;
  }
  .landing-page-description :first-child {
    font-size: 45px;
    line-height: 35px;
  }
  .landing-page-description {
    margin: 60px 50px;
  }

  .landing-page-description :last-child {
    font-size: 20px;
    line-height: 20px;
  }
}
